* {
  margin: 0;
  border: 0;
  padding:0;

}


html, body {
    height:100%;
    width:100%;
    color:black;
    font-family: 'Inter', sans-serif;
    font-size: 1vmax;
#    overflow-x: hidden;
}
section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#left {

  padding: 8em;
  width: 55vw;
  flex-direction: column;
}
#right {

  flex-direction: column;
  height:100%;

  width: 45vw;
#  background-color: hsl(316 90% 90%);
}
#chart {
height:100%;
width:100%;
}
form {
	display: flex;
height: 9vh;
  margin-top: 2em;
}

input[type=text] {
#  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type=text]:focus {
  border: 3px solid #555;
  border-color: hsl(316 70% 19%);
}

#fname {
#  width: 45vw;
  width: 50%;
  margin-right:2em;
#  font-size: 1em;
 border-radius: 15px 3px 3px 3px;
}
#lname {
#  width: 45vw;
  width: 50%;
 border-radius: 3px 15px 3px 3px;
}
# input::placeholder {
#	padding-left:1.5em;
# }
button {
	color:white;
	border-radius: 3px 3px 15px 15px;
 background-color: hsl(316 30% 9%);
  width: 100%;
  height: 6vh;
  margin-top: 0.5em;
font-size: 1.5em;
cursor: pointer;
}

#first button:hover {
 background-color: hsl(316 70% 12%);
}
#smaletter {
font-size:0.9em;
text-align:center;
margin-top:0.2em;
  width: 100%;
font-weight:normal;
  border: 0;
  padding:0;

  margin-top: 0;

}
h1 {
font-size: 3.5em;
font-style:italic;
font-weight:bold;
  border: 0;
  padding:0;

#  margin-bottom: 2em;

}
h2 {
font-size: 1.6em;
font-weight:normal;
  border: 0;
  padding:0;

  margin-top: 0.5em;

}
@media screen and (max-width: 500px) {
    .hide-if-narrow {
        display: none;
    }
}

.hidden {
  display: none;
}
#first {
# background-color: hsl(196 37% 45%);
# background-color: hsl(196 37% 98%);
# background-color: hsl(196 93% 95%);
# background-color: hsl(196 95% 97%);
# background-color: hsl(196 95% 98%);
 background-color: hsl(196 30% 98%);
  flex-direction: row;
  justify-content: center;
  align-items: center;


}
#second {
# background-color: hsl(316 30% 98%);
 background-color: hsl(316 30% 9%);
 color: hsl(196 30% 98%);	
 justify-content: center;
 align-items: center;


 }
h3 {
font-size: 3em;
font-weight:bold;
  border: 0;
  padding:1em;

  margin-top: 0.5em;

}
h4 {
font-size: 2em;
# font-style:italic;
font-weight:bold;
  border: 0;
  padding:1em;

  margin-top: 0.5em;

}
h5 {
font-size: 1.5em;
font-style:italic;
font-weight:bold;
  border: 0;
  padding:0.8em;

  margin-top: 0.5em;

}
li {
font-size: 1.2em;
font-weight:normal;
  border: 0;
  padding:0.3em;

  margin-top: 0.5em;

}
#more-btn {
 background-color: hsl(196 30% 98%);

 color:black;

font-weight:bold;
  width: 15%;
}
#more-btn:hover {
 background-color: hsl(196 10% 88%);
}
p {

  width: 80%;
font-size: 1.5em;
font-weight:normal;
  border: 0;
  padding:0.2em;

  margin-top: 1em;

}
#third {
# background-color: hsl(76 30% 98%);
 background-color: hsl(316 30% 9%);
 color:hsl(196 30% 98%);
  padding-top: 5em;
  padding-left: 5em;

 }
#lasto {
  padding-left: 6em;



}

@media only screen and (max-width: 500px) {

   body { 
      font-size: 2vmax; 
   }
   #left {

     padding: 0em;

}
}
